@using Restaurant.Core.Entities
@model Restaurant.Web.Areas.Admin.ViewModels.ProductViewModel


<!-- Section First -->
<div class="row" dir="rtl">
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-sm-8">
            <!-- Input Name -->
            <div class="block">
                <!-- Name Input Title -->
                <div class="block-title">
                    <h2>نام محصول</h2>
                </div>
                <!-- END Name Input Title -->
                <div class="form-group">
                    <!--<label class="col-md-2 control-label" for="title-product" style="text-align: center;">نام</label>-->
                    <div class="col-md-12">
                        @*<input type="text" id="Name" name="Name" class="form-control input-lg" placeholder="نام">*@
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-lg", @id = Model.Name, @placeholder = "نام" } })
                    </div>
                </div>
            </div>
            <!-- END Input Name -->
            <!-- Input Description -->
            <div class="block">
                <!-- Name Input Title -->
                <div class="block-title">
                    <h2>توضیحات محصول</h2>
                </div>
                <!-- END Name Input Title -->
                <div class="form-group">
                    <div class="col-xs-12">
                        @*<textarea id="Content" name="Content" class="ckeditor"></textarea>*@
                        @Html.TextAreaFor(model => model.Content, htmlAttributes: new { @class = "ckeditor" })

                    </div>
                </div>
            </div>
            <!-- END Description -->
            <div class="row">
                <div class="col-sm-6">
                    <!-- Input SKU -->
                    <div class="block">
                        <!-- SKU Input Title -->
                        <div class="block-title">
                            <h2>کد</h2>
                        </div>
                        <!-- END SKU Input Title -->

                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                @Html.EditorFor(model => model.SKU, new { htmlAttributes = new { @class = "form-control input-lg", @id = Model.SKU, @placeholder = "کد محصول خود را وارد کنید" } })
                                @*<input type="text" id="SKU" name="SKU" class="form-control" placeholder="کد محصول خود را وارد کنید">*@
                                <span class="input-group-addon">SKU</span>
                            </div>
                        </div>

                    </div>
                    <!-- END SKU -->
                </div>
                <div class="col-sm-6">
                    <!-- Input Price -->
                    <div class="block">
                        <!-- Price Input Title -->
                        <div class="block-title">
                            <h2>قیمت</h2>
                        </div>
                        <!-- END Price Input Title -->

                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon" dir="ltr">.00</span>
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control input-lg", @id = Model.Price, @placeholder = "قیمت محصول خود را وارد کنید" } })
                                @*<input type="text" id="Price" name="Price" class="form-control" placeholder="قیمت محصول خود را وارد کنید">*@
                                <span class="input-group-addon">تومان</span>
                            </div>
                        </div>

                    </div>
                    <!-- END Price -->
                </div>
            </div>
            <!-- Offer -->
            <div class="row">
                <div class="col-sm-6">
                    <!-- Input Price Offer -->
                    <div class="block">
                        <!-- Price Offer Input Title -->
                        <div class="block-title">
                            <h2>قیمت تخفیف</h2>
                        </div>
                        <!-- END Price Offer Input Title -->

                        <div class="form-group">
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon" dir="ltr">.00</span>
                                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control input-lg", @id = Model.Discount, @placeholder = "قیمت محصول خود را وارد کنید" } })
                                @*<input type="text" id="@Model.Discount" name="@Model.Discount" class="form-control" placeholder="قیمت محصول خود را وارد کنید">*@
                                <span class="input-group-addon">تومان</span>
                            </div>
                        </div>

                    </div>
                    <!-- END Price Offer -->
                </div>
                <div class="col-sm-6">
                    <!-- Input Date Offer -->
                    <div class="block">
                        <!-- Date Offer Input Title -->
                        <div class="block-title">
                            <h2>تاریخ تخفیف</h2>
                        </div>
                        <!-- END Date Offer Input Title -->
                        <!-- Datepicker for Bootstrap (classes are initialized in js/app.js -> uiInit()), for extra usage examples you can check out http://eternicode.github.io/bootstrap-datepicker -->
                        <div class="form-group">
                            @*<label class="col-md-3 control-label" for="example-daterange1">Date Range</label>*@
                            <div class="col-md-12">
                                @*<div class="input-group input-daterange" data-date-format="mm/dd/yyyy">
                                        @Html.EditorFor(model => model.FromDateDiscount, new { htmlAttributes = new { @class = "form-control", @placeholder = "از" } })
                                        <span class="input-group-addon"><i class="fa fa-chevron-left"></i></span>
                                        @Html.EditorFor(model => model.ToDateDiscount, new { htmlAttributes = new { @class = "form-control", @placeholder = "تا" } })



                                        <input type="date" id="@Model.FromDateDiscount" name="@Model.FromDateDiscount" class="form-control" placeholder="از">
                                        <span class="input-group-addon"><i class="fa fa-chevron-left"></i></span>
                                        <input type="date" id="@Model.ToDateDiscount" name="@Model.ToDateDiscount" class="form-control" placeholder="تا">
                                    </div>*@
                            </div>
                        </div>

                    </div>
                    <!-- END Date Offer -->
                </div>
            </div>
            <!-- END Offer -->
            <!-- Count -->
            <div class="block">
                <!-- Count Title -->
                <div class="block-title">
                    <h2>تعداد محصول</h2>
                </div>
                <!-- END Count Title -->

                <div class="form-group">
                    <!--<label class="col-md-2 control-label" for="title-product" style="text-align: center;">نام</label>-->
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control input-lg", @id = Model.Count, @placeholder = "تعداد" } })
                        @*<input type="number" id="Count" name="Count" class="form-control input-lg" placeholder="تعداد">*@
                    </div>
                </div>

            </div>
            <!-- END Count -->
        </div>
        <div class="col-sm-4">

            <!-- Stablished -->
            <div class="block">
                <!-- Stablished Input Title -->
                <div class="block-title">
                    <h2>انتشار</h2>
                </div>
                <!-- END Stablished Input Title -->

                <div class="form-group row">
                    <div class="col-xs-7">تاریخ: @DateTime.Now.ToString("yyyy/MM/dd")</div>
                    <div class="col-xs-5">
                        <button type="submit" class="btn btn-effect-ripple btn-primary btn-lg">ثبت</button>
                    </div>
                </div>

            </div>

            <!-- END Stablished -->
            <!-- Categories -->
            <div class="block">
                <!-- Categories Input Title -->
                <div class="block-title">
                    <h2>انتخاب دسته بندی ها</h2>
                </div>
                <!-- END Categories Input Title -->
                <div class="form-group">
                    <div class="col-md-10" style="text-align: left;">

                        @BuildMenu(Model.Categories)

                        @helper BuildMenu(IEnumerable<Category> data, int? parentId = null)
                        {
                            var items = data.Where(cat => cat.ParentId == parentId).OrderBy(cat => cat.Name);
                            if (items.Any())
                            {
                                foreach (var item in items)
                                {
                                    Model.CategoryId = item.Id;

                                        <div class="checkbox">
                                            <label for="CategoryId" style="margin-left: 10px;">
                                                @item.Name
                                            </label>
                                            <input type="checkbox" id="CategoryId" name="CategoryId" value="@Model.CategoryId">
                                        </div>
                                        @BuildMenu(data, item.Id);
                                }
                            }
                        }
                    </div>
                    <label class="col-md-3 control-label"></label>
                </div>

            </div>

            <!-- END Categories -->
            <!-- Tags Input Block -->
            @*<div class="block">
                    <!-- Tags Input Title -->
                    <div class="block-title">
                        <h2>انتخاب دسته بندی ها</h2>
                    </div>
                    <!-- END Tags Input Title -->
                    <!-- Tags Input Content -->
                    <form action="page_forms_components.html" method="post" class="form-horizontal form-bordered" onsubmit="return false;">
                        <!-- Jquery Tags Input (class is initialized in js/app.js -> uiInit()), for extra usage examples you can check out https://github.com/xoxco/jQuery-Tags-Input -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">وارد کردن بر چسب</label>
                            <div class="col-md-9">
                                <input type="text" id="example-tags" name="example-tags" class="input-tags" value="HTML, CSS, Javascript">
                            </div>
                        </div>
                        <div class="form-group form-actions">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="submit" class="btn btn-effect-ripple btn-primary">ثبت</button>
                                <button type="reset" class="btn btn-effect-ripple btn-danger">پاک کردن</button>
                            </div>
                        </div>
                    </form>
                    <!-- END Tags Input Content -->
                </div>*@
            <!-- END Tags Input Block -->
            <!-- Feature Image Input Block -->
            <div class="block">
                <!-- Feature Image Input Title -->
                <div class="block-title">
                    <h2>انتخاب عکس ویژه</h2>
                </div>
                <div>
                    <img id="user_img" height="100" width="90" style="border:solid" alt="" />

                    <input type="file" title="search image" id="file" name="file" onchange="show(this)" />
                </div>
            </div>
            <!-- END Feature Image Input Block -->
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <div class="block">
                    <!-- Feature Image Input Title -->
                    <div class="block-title">
                        <h2>عکس ویژه</h2>
                    </div>
                    <div>
                        <img name="ImageUrl" src="@Url.Content(Model.ImageUrl)" style="border:solid" alt="" />
                    </div>
                </div>
}

        </div>
    }
</div>
<!-- END Section First -->
